<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="../ticket.css">
</head>
<style>


</style>
<body>
    <section class="invoice">
        <div class="invoice-header">
            <img src="../images/logo KKC.svg" alt="" class="invoice-logo">
            <div class="invoice-header_content">
                <h6>Kasir</h6>
                <p>Teddy Curaweda (Curawedakeren@gmail.com)</p>
                <h6>Nama Pelanggan</h6>
                <p>Januar Haykal (januarhaykal7@gmail.com)</p>
                <p>+62 012312384</p>
                
            </div>
            <div class="invoice-header_time">
                <h6>Jadwal Reservasi</h6>
                <p>22/05/2024 | 13:19</p>
            </div>
        </div>
        <div class="invoice-main">
            <h6 class="bold">Reservasi</h6>
            <% tickets.forEach((ticket, i) => { i++ %>
            <div class="invoice-ticket">
                <div class="invoice-ticket_main">
                    <p><%= ticket.name %></p>
                    <p>Rp. <%= ticket.price %> <span>(<%= ticket.amount %>x)</span></p>
                    <% if (ticket.guide === "") { %>
                    <% } else { %>
                    <p>Guide : <span><%= ticket.guide %></span></p>
                    <% } %>
                </div>
                <div class="invoice-ticket_total">
                    <p>Rp. <%= ticket.price * ticket.amount %></p>
                </div>
            </div>
            <% }) %>
        </div>
        
    </section>
    <% tickets.forEach((ticket, i) => { i++ %>
        <% for (let index = 0; index < ticket.amount; index++) { %>
    <section class="ticket">
        <div class="ticket-main_container">
            <img src="../images/bg-ticket-keraton.png" class="bg-tiket" alt="">
            <div class="ticket-padding">
                <div class="ticket-content">
                    <div class="ticket-main_header">
                        <p>Tiket Masuk / Entry Pass </p>

                    </div>
                    <div class="ticket-main_content">
                        <div class="ticket-logo">
                            <img src="../images/logo KKC.svg" alt="Keraton Kasepuhan Cirebon">
                        </div>
                        <h1>KERATON KASEPUHAN CIREBON</h1>
                        <div class="ticket-qr">
                            <img src="../qrcodes/<%= ticket.id %>-<%= index + 1 %>.png" alt="QR Code">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="triangle-divider triangle-polygon1"></div>
        <div class="triangle-divider triangle-polygon2"></div>
        <div class="line-divider"></div>
        <div class="ticket-name_container">
            <img src="../images/Decor1.png" alt="" class="Decor1">
            <img src="../images/Decor1.png" alt="" class="Decor1">
            <div class="ticket-name_content">
                <img src="../images/logo KKC.svg" alt="" class="logo-name">
                <span>wisata</span>
                <h3><%= ticket.name %></h3>
            </div>
        </div>
    </section>
    <% } %>
    <% }) %>
</body>
</html>